.card {
  display: flex;
  background-color: #fff;
  border: 5px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-left: 5%;
  transition: background-color 0.3s ease;
  width: 90%;
  align-items: center;
  justify-content: center;
}
  
.card:hover {
  background-color: #f9f9f9;
}
  