#home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0
  }

  .cards {
    display: flex;
    flex-wrap: wrap; /* Permite que as cartas se movam para a próxima linha quando não couberem mais na linha atual */
    justify-content: space-between; /* Distribui o espaço entre as colunas */
    justify-content: center;
    align-items: center;
  }
  