.sidebar {
    background-color: #f0f0f0; /* Cor de fundo do sidebar */
    width: 200px; /* Largura do sidebar */
    height: 100%; /* Altura do sidebar (ajustável conforme necessário) */
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; /* Adicione barra de rolagem vertical se necessário */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #ccc; /* Cor de fundo ao passar o mouse */
  }
  